<div class="container mt-5">
  <h2 class="h2">Manutenção de Carros</h2>
  <button (click)="navegarParaFormulario()" class="btn btn-success mt-5">
    <i class="fas fa-plus"></i> Cadastrar
  </button><table class="table table-striped">
    <thead>
      <tr>
        <th>Proprietário</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Cor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carro of carros">
        <td>{{ carro.proprietario }}</td>
        <td>{{ carro.marca }}</td>
        <td>{{ carro.modelo }}</td>
        <td>{{ carro.ano }}</td>
        <td>{{ carro.cor }}</td>
        <td>
          <div class="d-flex gap-2">
            <button
              (click)="navegarParaFormulario(carro.id)"
              class="btn btn-primary"
            >
              <i class="fas fa-edit"></i> Editar
            </button>
            <button (click)="excluir(carro.id!)" class="btn btn-danger">
              <i class="fas fa-trash"></i> Excluir
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container [ngPlural]="carros?.length ?? 0">
    <ng-template ngPluralCase="=0">Nenhum item encontrado.</ng-template>
    <ng-template ngPluralCase="=1">1 item encontrado</ng-template>
    <ng-template ngPluralCase="other">{{ carros!.length! }} itens encontrados.</ng-template>
  </ng-container>
</div>
